#defaults
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build

#built application files
*.apk
*.ap_

# Java class files
*.class
/app/manifest-merger-release-report.txt
/external_media
